<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seminar_2</title>
    <style>
        .good {
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            border: 1px solid #000;
        }

        .contact_form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- -->
    <!-- -->
    <!-- -->
    <h1>Задача 1</h1>
    <div class="good">
        <h2>{{ item.title }}</h2>
        <img :src="item.img" :alt="item.title">
        <h4>Стоимость: {{ item.price }} рублей</h4>
        <button @click="generateDiscount" :disabled="isDiscount">Получить скидку</button>
    </div>
    <hr>
    <!-- -->
    <!-- -->
    <!-- -->
    <h1>Задача 2</h1>
    <ul>
        <li v-for="user in users" :key="user.id">
            Имя: {{ user.name }}
            Возраст: {{ user.age }}
        </li>
    </ul>
    <hr>
    <!-- -->
    <!-- -->
    <!-- -->
    <h1>Задача 3</h1>
    <ul>
        <li v-for="good in goods" :key="good.id">
            <input v-model.number="good.amount" type="number">
            <label for=""> {{ good.title }}
                <input type="checkbox">
            </label>
        </li>
    </ul>
    <hr>
    <!-- -->
    <!-- -->
    <!-- -->
    <h1>Задача 4</h1>
    <form class="contact_form" @submit.prevent="createContact">
        <label for="">First name<input v-model="firstName" type="text"></label>
        <label for="">Last name<input v-model="lastName" type="text"></label>
        <label for="">Email<input v-model="email" type="email"></label>
        <button>Add user</button>
        <ul>
            <li v-for="contact in contacts" :key="contact.id">
                First name: {{ contact.firstName }}
                Last name: {{contact.lastName }}
                Email: {{ contact.email }}
            </li>
        </ul>
    </form>
</div>


<script src="https://unpkg.com/vue@next"></script>
<script>

    // задача 1
    // Вы разрабатываете страницу для отображения информации о товаре. У вас есть объект product,
    // который содержит информацию о товаре, включая название, цену и URL изображения товара.
    // Вам необходимо отобразить эту информацию с использованием v-bind.
    // Добавьте кнопку, которая будет изменять цену товара.
    // При нажатии на кнопку должна генерироваться скидка на товар от 1 до 20% и обновиться цена товара в соответствии
    // с значением скидки

    // задача 2
    // Вы разрабатываете простое приложение для отображения списка пользователей. У вас есть массив объектов users,
    // где каждый объект представляет одного пользователя с его именем и возрастом.
    // Вам необходимо отобразить каждого пользователя из массива в виде списка на странице.

    // Задача 3
    // Вы разрабатываете приложение для создания списка покупок. У вас есть массив, объектов items,
    // где каждый объект представляет това» с его названием и количеством. Вам необходимо отобразить список товаров.
    // Поедоставить возможность изменять количество каждого товара и отмечать товары, которые уже куплены.

    // Задача 4
    // Вы разрабатываете приложение для управления списком контактов.
    // У вас есть форма с полями "Имя", "Фамилия" и "Email", где пользователь может вводить информацию о новом контакте.
    // После добавления контакта он должен отображаться в списке контактов.
    // Требуется связать форму с данными и отображать список контактов на странице.

    const seminar2 = {
        data() {
            return {
                // Task 1
                item: {
                    title: 'Телефон',
                    price: 10000,
                    img: './Project/images/article-3.jpg',
                    discountPercent: 0,
                },
                isDiscount: false,
                // Task 2
                users: [
                    {id: 1, name: 'Иван', age: 25},
                    {id: 2, name: 'Мария', age: 30},
                    {id: 3, name: 'Алексей', age: 35},
                    {id: 4, name: 'Елена', age: 38},
                ],
                // Task 3
                goods: [
                    {id: 1, title: 'Хлеб', amount: 1},
                    {id: 2, title: 'Молоко', amount: 4},
                    {id: 3, title: 'Кефир', amount: 3},
                    {id: 4, title: 'Сахар', amount: 10},
                ],
                // Task 4
                firstName: '',
                lastName: '',
                email: '',
                contacts: [],
            }
        },
        methods: {
            generateDiscount() {
                // const discountPercent = Math.floor(Math.random() * 20 + 1);
                this.discountPercent = Math.floor(Math.random() * 20 + 1);
                this.item.price = this.item.price - (this.item.price * this.discountPercent) / 100;
                this.isDiscount = true;
            },
            createContact() {
                const firstNameTrim = this.firstName.trim()
                const lastNameTrim = this.lastName.trim()
                const emailTrim = this.email.trim()

                if (firstNameTrim && lastNameTrim && emailTrim) {
                    const newContact = {
                        id: Date.now(),
                        firstName: firstNameTrim,
                        lastName: lastNameTrim,
                        email: emailTrim
                    }
                    this.contacts.push(newContact)
                    this.firstName = ''
                    this.lastName = ''
                    this.email = ''
                }
            }
        }
    }

    Vue.createApp(seminar2).mount('#app')

</script>
</body>
</html>