* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

//body {
//  overflow-x: clip;
//  box-sizing: border-box;
//}

.header {
  padding-top: 53px;
  padding-bottom: 53px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__right {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  &__menubar {
    color: #292F36;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */

    &:hover {
      color: #CDA274;
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 50px;

  &__text {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
  }

  &:hover {
    cursor: pointer;
  }
}

.main-page {
  height: 758px;
  background: url(images/Photo.jpg), lightgray 50% / cover no-repeat;
  padding-top: 208px;
  padding-left: 52px;
  border-radius: 70px;
  box-sizing: border-box;
  margin-bottom: 96px;

  &__content {
    display: flex;
    width: 434px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
}

.main-heading {
  color: #292F36;
  font-family: 'DM Serif Display', serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 81.25px */
}

.main-text {
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.start-button {
  display: flex;
  padding: 26px 49px 26px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 18px;
  background: #292F36;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);

  color: #FFF;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;

  &:hover {
    cursor: pointer;
    background: #FFF;
    color: #292F36;
    border: 2px solid #292F36;
    box-sizing: border-box;
  }
}

.projects {
  align-items: center;
  margin-bottom: 96px;

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 93px;
  }

  &__heading {
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
  }

  &__text {
    color: #4D5053;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    max-width: 737px;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    row-gap: 56px;
    justify-content: space-between;
  }
}

.projects-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  border-radius: 80px 80px 35px 10px;

  &:hover {
    cursor: pointer;
    background-color: #F4F0EC;
    border: 1px solid #E7E7E7;

    .projects-item__select {

      circle {
        fill: white;
      }
    }
  }

  &:first-child img {
    border-top-right-radius: 80px;
  }

  &:nth-child(2) img {
    border-top-left-radius: 80px;
  }

  &:nth-last-child(2) img {
    border-bottom-right-radius: 80px;
  }

  &:last-child img {
    border-bottom-left-radius: 80px;
  }

  &__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__heading {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
  }

  &__category {
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
  }
}

.counter-cover {
  background-color: #F4F0EC;
}

.counter {
  padding: 151px 5%;
  margin-bottom: 96px;
}

.counter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter-item {
  display: flex;
  width: 192px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &:last-child {
    border: 0;
  }

  &__heading {
    color: #CDA274;
    font-family: 'DM Serif Display', serif;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 106.25px */
  }

  &__text {
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    width: max-content;
  }
}

.blog {
  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 93px;
  }

  &__heading {
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */

    &:hover {
      cursor: pointer;
      color: #CDA274;
    }
  }

  &__text {
    color: #4D5053;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    max-width: 737px;
  }
}

.articles-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 96px;
  row-gap: 30px;
}

.article {
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
  width: 32%;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background-color: #F4F0EC;
    border: 1px solid #E7E7E7;

    .article__select {
      circle {
        fill: white;
      }
    }
  }

  &__image-box {
    position: relative;
    margin-bottom: 21px;
  }

  &__image {
    border-radius: 45px 45px 0 0;
    width: 100%;
  }

  &__tag {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 5px 10px;
    border-radius: 8px 8px 8px 0;
    background: #FFF;
  }

  &__tag-text {
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__heading {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
  }
}

.blog-cover {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  overflow-x: clip;

  &__content {
    position: absolute;
    display: flex;
    max-width: 503px;
    padding: 41px 78px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    bottom: 0;

    border-radius: 37px 37px 0px 0px;
    background: #FFF;
    height: max-content;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: max-content;
  }

  &__heading {
    color: #292F36;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
  }

  &__text {
    color: #4D5053;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    max-width: 737px;
  }
}

.latest-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  margin-bottom: 150px;

  &__heading {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }

  &__image {
    border-radius: 50px;
    max-height: 478px;
  }

  &__content {
    display: flex;
    padding: 22px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 65px;

    border-radius: 62px;
    border: 1px solid #E7E7E7;
    box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);

    &:hover {
      cursor: pointer;
      background-color: #F4F0EC;
      border: 1px solid #E7E7E7;

      .latest-post__select {
        circle {
          fill: white;
        }
      }
    }
  }

  &__description {
    display: flex;
    max-width: 489px;
    flex-direction: column;
  }

  &__subheading {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    margin-bottom: 22px;
  }

  &__text {
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    margin-bottom: 41px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__data {
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }

  &__select {

  }
}

.blog-articles {
  margin-bottom: 200px;

  &__heading {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    margin-bottom: 30px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
}

.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-text {
  position: absolute;
}

.active-page {

  &:hover {
    cursor: not-allowed;
  }
}

.inactive-page {

  &:hover {
    cursor: pointer;

    circle {
      fill: #F4F0EC;
    }
  }
}

.next-page {

  &:hover {
    cursor: pointer;

    circle {
      fill: #F4F0EC;
    }
  }
}

.footer {
  padding-bottom: 26px;

  &__box {
    display: flex;
    flex-direction: row;
    gap: 101px;
  }

  &__item {
    width: 33%;
    gap: 25px;
  }

  &__heading {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
  }

  &__text {
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
  }

  &__social-links {
    display: flex;
    flex-direction: row;
    gap: 54px;
  }

  &__social-link {
    &:hover {
      cursor: pointer;

      path {
        fill: #CDA274
      }
    }
  }

  &__links {
    width: 20%;
  }

  &__site-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__site-link {
    &:hover {
      color: #CDA274;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__email {
    &:hover {
      cursor: pointer;
      color: #CDA274;
      text-decoration-line: underline;
    }
  }
}

.articles {

  &__tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  &__tags-heading {
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }

  &__tags-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
  }

  &__tag {
    display: flex;
    padding: 9px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F4F0EC;

    &:hover {
      cursor: pointer;
      background-color: #CDA274;
    }

    &:active {
      background-color: #292F36;
      color: #FFFFFF;
    }
  }
}




